<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farmers Profile</title>
    <link rel="stylesheet" href="/farmer.css">
</head>
<body>
    <nav class="navbar">
        <h6>Farmers</h6>
        <div class="menu-toggle" onclick="toggleMenu()">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="nav-links">
            <a href="/home">Home</a>
            <!-- <a href="/lands">Lands</a>
            <a href="services">Services</a>
            <a href="contact">Contact</a> -->
        </div>
    </nav>
    <div class="container">
        <div class="car">
            <img src="/public/img/download.jpg" alt="">
            <h2>John Doe</h2>
            <p>Urban Farmer</p>
            <div class="footer">
                <a class="learnMoreBtn"><span>Learn More</span></a>
            </div>
            <div class="details">
                <p><strong>Email:</strong> john@example.com</p>
                <p><strong>Phone:</strong> +123 456 7890</p>
                <p><strong>Location:</strong> New York, USA</p>
                <p><strong>experience:</strong> New York, USA</p>
            </div>
        </div>
        <div class="car">
            <img src="/public/img/download.jpg" alt="">
            <h2>John Doe</h2>
            <p>Urban Farmer</p>
            <div class="footer">
                <a class="learnMoreBtn"><span>Learn More</span></a>
            </div>
            <div class="details">
                <p><strong>Email:</strong> john@example.com</p>
                <p><strong>Phone:</strong> +123 456 7890</p>
                <p><strong>Location:</strong> New York, USA</p>
            </div>
        </div>
        <div class="car">
            <img src="/public/img/download.jpg" alt="">
            <h2>John Doe</h2>
            <p>Urban Farmer</p>
            <div class="footer">
                <a class="learnMoreBtn"><span>Learn More</span></a>
            </div>
            <div class="details">
                <p><strong>Email:</strong> john@example.com</p>
                <p><strong>Phone:</strong> +123 456 7890</p>
                <p><strong>Location:</strong> New York, USA</p>
            </div>
        </div>
    </div>    
    <div class="container">
        <div class="car">
            <img src="/public/img/download.jpg" alt="">
            <h2>John Doe</h2>
            <p>Urban Farmer</p>
            <div class="footer">
                <a class="learnMoreBtn"><span>Learn More</span></a>
            </div>
            <div class="details">
                <p><strong>Email:</strong> john@example.com</p>
                <p><strong>Phone:</strong> +123 456 7890</p>
                <p><strong>Location:</strong> New York, USA</p>
                <p><strong>experience:</strong> New York, USA</p>
            </div>
        </div>
        <div class="car">
            <img src="/public/img/download.jpg" alt="">
            <h2>John Doe</h2>
            <p>Urban Farmer</p>
            <div class="footer">
                <a class="learnMoreBtn"><span>Learn More</span></a>
            </div>
            <div class="details">
                <p><strong>Email:</strong> john@example.com</p>
                <p><strong>Phone:</strong> +123 456 7890</p>
                <p><strong>Location:</strong> New York, USA</p>
            </div>
        </div>
        <div class="car">
            <img src="/public/img/download.jpg" alt="">
            <h2>John Doe</h2>
            <p>Urban Farmer</p>
            <div class="footer">
                <a class="learnMoreBtn"><span>Learn More</span></a>
            </div>
            <div class="details">
                <p><strong>Email:</strong> john@example.com</p>
                <p><strong>Phone:</strong> +123 456 7890</p>
                <p><strong>Location:</strong> New York, USA</p>
            </div>
        </div>
    </div>  
    <div class="container">
        <div class="car">
            <img src="/public/img/download.jpg" alt="">
            <h2>John Doe</h2>
            <p>Urban Farmer</p>
            <div class="footer">
                <a class="learnMoreBtn"><span>Learn More</span></a>
            </div>
            <div class="details">
                <p><strong>Email:</strong> john@example.com</p>
                <p><strong>Phone:</strong> +123 456 7890</p>
                <p><strong>Location:</strong> New York, USA</p>
                <p><strong>experience:</strong> New York, USA</p>
            </div>
        </div>
        <div class="car">
            <img src="/public/img/download.jpg" alt="">
            <h2>John Doe</h2>
            <p>Urban Farmer</p>
            <div class="footer">
                <a class="learnMoreBtn"><span>Learn More</span></a>
            </div>
            <div class="details">
                <p><strong>Email:</strong> john@example.com</p>
                <p><strong>Phone:</strong> +123 456 7890</p>
                <p><strong>Location:</strong> New York, USA</p>
            </div>
        </div>
        <div class="car">
            <img src="/public/img/download.jpg" alt="">
            <h2>John Doe</h2>
            <p>Urban Farmer</p>
            <div class="footer">
                <a class="learnMoreBtn"><span>Learn More</span></a>
            </div>
            <div class="details">
                <p><strong>Email:</strong> john@example.com</p>
                <p><strong>Phone:</strong> +123 456 7890</p>
                <p><strong>Location:</strong> New York, USA</p>
            </div>
        </div>
    </div>  
    <div class="container">
        <div class="car">
            <img src="/public/img/download.jpg" alt="">
            <h2>John Doe</h2>
            <p>Urban Farmer</p>
            <div class="footer">
                <a class="learnMoreBtn"><span>Learn More</span></a>
            </div>
            <div class="details">
                <p><strong>Email:</strong> john@example.com</p>
                <p><strong>Phone:</strong> +123 456 7890</p>
                <p><strong>Location:</strong> New York, USA</p>
                <p><strong>experience:</strong> New York, USA</p>
            </div>
        </div>
        <div class="car">
            <img src="/public/img/download.jpg" alt="">
            <h2>John Doe</h2>
            <p>Urban Farmer</p>
            <div class="footer">
                <a class="learnMoreBtn"><span>Learn More</span></a>
            </div>
            <div class="details">
                <p><strong>Email:</strong> john@example.com</p>
                <p><strong>Phone:</strong> +123 456 7890</p>
                <p><strong>Location:</strong> New York, USA</p>
            </div>
        </div>
        <div class="car">
            <img src="/public/img/download.jpg" alt="">
            <h2>John Doe</h2>
            <p>Urban Farmer</p>
            <div class="footer">
                <a class="learnMoreBtn"><span>Learn More</span></a>
            </div>
            <div class="details">
                <p><strong>Email:</strong> john@example.com</p>
                <p><strong>Phone:</strong> +123 456 7890</p>
                <p><strong>Location:</strong> New York, USA</p>
            </div>
        </div>
    </div>  
    <script src="/farmer.js"></script>
</body>
</html>
