<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/login.css">
</head>
<body>
<div class="login-container">
    <h1>Welcome Back</h1>
    <h2>Login to Your Account</h2>
    <form action="/login" method="POST">
        <!-- <input type="text" name="name" placeholder="Name" required class="form-input" /> -->
        <input type="email" name="email" placeholder="Email" required class="form-input" />
        <input type="password" name="password" placeholder="Password" required class="form-input" />
        <br><br>
        <button type="submit" class="form-button">Login</button>
    </form>
</div>
<div class="signup-box">
    <h3>New Here?</h3>
    <p>Sign up and discover a great amount of new opportunities!</p>
    <a href="/signup"><button class="signup-btn">Sign Up</button></a>
</div>
</body>
</html>